.estado{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: blue;
    position: absolute;
    left: 60px;
}
.estado>center>h4{
    color:black;
    font-size: 95;
}
/*imagen del megusta*/

.imagen>img{
    width: 60px;
    position: absolute;
    left: 210px;
}
/*imagenes de los capitulos*/
.imgc{
    width: 100px;
    position: absolute;
    left: 110px;
    
}