body{
    margin:0;
  
   
}
video{
    position: fixed;

    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index:-1; 
    
}

main {
    width:40% ;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    margin: 5%;
    border-radius: 40px;
}
a{
    color: seashell;
}
img{
    position: relative;
    
}