main{
    position: relative;
    left: 190px;
    width: 70%;
    background:white;
    box-shadow: 0px 0px 10px black;
}
img{
    position: absolute;
    left: 40px;
    top: 50px;
}
h3{
    color: black;
    position: relative;
    top: 10px;
    left: 20px;
}